.idea
.venv
env
*.iml
*clientsecret
*azure-target
*clientid
.DS_Store
build/turbodif*
*azureloganalytics
*azureloganalytics.linux
.vscode/
docs/_site
docs/.sass-cache
docs/.jekyll-metadata
docs/.jekyll-cache
docs/.gitignore
docs/Gemfile.lock
