language: go

env:
  global:
    - DOCKER_IMAGE_NAME=$TRAVIS_REPO_SLUG
    - TURBODIF_VERSION=$TRAVIS_TAG

services:
  - docker

go:
  - 1.19.1

go_import_path: github.com/turbonomic/data-ingestion-framework

before_install:
  - go install -v github.com/mattn/goveralls@HEAD

script:
  - make fmtcheck
  - make vet
  - make product
  - $HOME/gopath/bin/goveralls -v -race -service=travis-ci
  - docker build -f build/Dockerfile -t $DOCKER_IMAGE_NAME --label "git-version=$TRAVIS_COMMIT" .

after_success:
  - |
    if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then
      echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      # Replace data-ingestion-framework with turbodif
      DOCKER_TARGET_IMAGE=${DOCKER_IMAGE_NAME/data-ingestion-framework/turbodif}
      if [ -n "$TRAVIS_TAG" ]; then
          # Push a release image triggered by a git tag
          docker tag $DOCKER_IMAGE_NAME $DOCKER_TARGET_IMAGE:$TRAVIS_TAG
          docker push $DOCKER_TARGET_IMAGE:$TRAVIS_TAG
      elif [ "$TRAVIS_BRANCH" == "master" ]; then
          # Push the latest image built from master branch
          docker tag $DOCKER_IMAGE_NAME $DOCKER_TARGET_IMAGE
          docker push $DOCKER_TARGET_IMAGE
      fi
    fi
