probeCategory: Custom
probeUICategory: Custom
targetType: DataIngestionFramework
supplyChainNode:
  - templateClass: BUSINESS_APPLICATION
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: TRANSACTION
        optional: true
      - commodityType: RESPONSE_TIME
        optional: true
      - commodityType: KPI
        key: key-placeholder
        optional: true
    commodityBought:
      - key:
          templateClass: SERVICE
          providerType: LAYERED_OVER
          cardinalityMax: 2147483647
          cardinalityMin: 0
        value:
          - commodityType: TRANSACTION
            optional: true
          - commodityType: RESPONSE_TIME
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
          - commodityType: KPI
            key: key-placeholder
            optional: true
      - key:
          templateClass: BUSINESS_TRANSACTION
          providerType: LAYERED_OVER
          cardinalityMax: 2147483647
          cardinalityMin: 0
        value:
          - commodityType: TRANSACTION
            optional: true
          - commodityType: RESPONSE_TIME
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
          - commodityType: KPI
            key: key-placeholder
            optional: true
    mergedEntityMetaData:
      keepStandalone: false
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: IP
        externalEntityMatchingProperty:
          - matchingField:
              fieldName: id
      commoditiesSold:
        - RESPONSE_TIME
        - TRANSACTION
        - KPI
  - templateClass: BUSINESS_TRANSACTION
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: TRANSACTION
        optional: true
      - commodityType: RESPONSE_TIME
        optional: true
      - commodityType: APPLICATION
        key: key-placeholder
      - commodityType: KPI
        key: key-placeholder
        optional: true
    commodityBought:
      - key:
          templateClass: SERVICE
          providerType: LAYERED_OVER
          cardinalityMax: 2147483647
          cardinalityMin: 0
        value:
          - commodityType: TRANSACTION
            optional: true
          - commodityType: RESPONSE_TIME
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
          - commodityType: KPI
            key: key-placeholder
            optional: true
    mergedEntityMetaData:
      keepStandalone: false
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: IP
        externalEntityMatchingProperty:
          - matchingField:
              fieldName: id
      commoditiesSold:
        - RESPONSE_TIME
        - TRANSACTION
        - KPI
  - templateClass: SERVICE
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: TRANSACTION
        optional: true
      - commodityType: RESPONSE_TIME
        optional: true
      - commodityType: APPLICATION
        key: key-placeholder
      - commodityType: KPI
        key: key-placeholder
        optional: true
    commodityBought:
      - key:
          templateClass: APPLICATION_COMPONENT
          providerType: LAYERED_OVER
          cardinalityMax: 2147483647
          cardinalityMin: 0
        value:
          - commodityType: TRANSACTION
            optional: true
          - commodityType: RESPONSE_TIME
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
          - commodityType: KPI
            key: key-placeholder
            optional: true
      - key:
          templateClass: DATABASE_SERVER
          providerType: LAYERED_OVER
          cardinalityMax: 2147483647
          cardinalityMin: 0
        value:
          - commodityType: TRANSACTION
            optional: true
          - commodityType: RESPONSE_TIME
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
          - commodityType: KPI
            key: key-placeholder
            optional: true
  - templateClass: APPLICATION_COMPONENT
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: TRANSACTION
        optional: true
      - commodityType: RESPONSE_TIME
        optional: true
      - commodityType: KPI
        key: key-placeholder
        optional: true
      - commodityType: APPLICATION
        key: key-placeholder
      - commodityType: HEAP
        optional: true
        chargedBySold:
          - REMAINING_GC_CAPACITY
      - commodityType: REMAINING_GC_CAPACITY
        optional: true
      - commodityType: THREADS
        optional: true
        chargedByBought:
          - VCPU
    commodityBought:
      - key:
          templateClass: VIRTUAL_MACHINE
          providerType: HOSTING
          cardinalityMax: 1
          cardinalityMin: 1
        value:
          - commodityType: VCPU
            optional: true
          - commodityType: VMEM
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
      - key:
          templateClass: CONTAINER
          providerType: LAYERED_OVER
          cardinalityMax: 1
          cardinalityMin: 1
        value:
          - commodityType: VCPU
            optional: true
          - commodityType: VMEM
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
    mergedEntityMetaData:
      keepStandalone: false
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: IP
        externalEntityMatchingProperty:
          - matchingProperty:
              propertyName: IP
      commoditiesSold:
        - RESPONSE_TIME
        - TRANSACTION
        - HEAP
        - REMAINING_GC_CAPACITY
        - THREADS
        - KPI
  - templateClass: DATABASE_SERVER
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: TRANSACTION
        optional: true
      - commodityType: RESPONSE_TIME
        optional: true
      - commodityType: APPLICATION
        key: key-placeholder
      - commodityType: KPI
        key: key-placeholder
        optional: true
      - commodityType: CONNECTION
        optional: true
      - commodityType: DB_MEM
        optional: true
        chargedBySold:
          - DB_CACHE_HIT_RATE
      - commodityType: DB_CACHE_HIT_RATE
        optional: true
    commodityBought:
      - key:
          templateClass: VIRTUAL_MACHINE
          providerType: HOSTING
          cardinalityMax: 1
          cardinalityMin: 1
        value:
          - commodityType: VCPU
            optional: true
          - commodityType: VMEM
            optional: true
          - commodityType: APPLICATION
            key: key-placeholder
    mergedEntityMetaData:
      keepStandalone: false
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: IP
        externalEntityMatchingProperty:
          - matchingProperty:
              propertyName: IP
      commoditiesSold:
        - RESPONSE_TIME
        - TRANSACTION
        - DB_MEM
        - DB_CACHE_HIT_RATE
        - CONNECTION
        - KPI
  - templateClass: VIRTUAL_MACHINE
    templateType: BASE
    templatePriority: -2
    commoditySold:
      - commodityType: VCPU
        optional: true
      - commodityType: VMEM
        optional: true
      - commodityType: APPLICATION
        key: key-placeholder
    mergedEntityMetaData:
      keepStandalone: true
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: IP
            delimiter: ","
        externalEntityMatchingProperty:
          - matchingField:
              messagePath:
                - virtual_machine_data
              fieldName: ipAddress
            delimiter: ","
      commoditiesSold:
        - APPLICATION
        - VCPU
        - VMEM
  - templateClass: CONTAINER
    templateType: BASE
    templatePriority: -1
    commoditySold:
      - commodityType: VCPU
      - commodityType: VMEM
      - commodityType: APPLICATION
        key: key-placeholder
    mergedEntityMetaData:
      keepStandalone: true
      matchingMetadata:
        matchingData:
          - matchingProperty:
              propertyName: HOST_UUID
        externalEntityMatchingProperty:
          - matchingProperty:
              propertyName: CNTFULL
